<div class="modal-overlay">
    <div class="modal-content">
      <button class="close-btn" (click)="component = null">×</button>
      
      <!-- Texte dynamique passé avec <ng-content> -->
      <div class="modal-header">
        <ng-content select=".modal-title"></ng-content>
      </div>
      <div class="modal-body">
        <ng-content select=".modal-description"></ng-content>
      </div>
  
      <!-- Affichage du composant dynamique -->
      <div class="modal-component">
        <ng-container *ngComponentOutlet="component"></ng-container>
      </div>
    </div>
  </div>
