<app-button></app-button>
<app-hover-box></app-hover-box>
<app-key-tracker></app-key-tracker>
<app-login-status></app-login-status>
<app-user-role></app-user-role>
<app-user-status></app-user-status>
<app-form></app-form>
<app-from-group></app-from-group>
<nav>
<ul>
    <li><a routerLink="/home">Accueil</a></li>| 
    <li><a routerLink="/about">À propos</a></li>
    <li><a routerLink="/user/1" routerLinkActive="active" ariaCurrentWhenActive="page">User</a></li>
  </ul>
  </nav>
  
  <router-outlet></router-outlet>