<div>
    <label for="role">Choisissez un rôle :</label>
    <select id="role" (change)="changeRole($event)">
      <option value="admin">Admin</option>
      <option value="editeur">Éditeur</option>
      <option value="utilisateur">Utilisateur</option>
      <option value="inconnu">Autre</option>
    </select>
  </div>
  
  <div [ngSwitch]="role">
    <p *ngSwitchCase="'admin'">👑 Bienvenue, Admin !</p>
    <p *ngSwitchCase="'editeur'">✍️ Bonjour, Éditeur</p>
    <p *ngSwitchCase="'utilisateur'">👋 Bonjour, Utilisateur</p>
    <p *ngSwitchDefault>❓ Rôle inconnu</p>
  </div>
